div {
    -webkit-user-select: none;
    /*谷歌 /Chrome*/
    -moz-user-select: none;
    /*火狐/Firefox*/
    -ms-user-select: none;
    /*IE 10+*/
    user-select: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* #region login and register page */
#usernameInput,
#passwordInput,
#confirmPasswordInput {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.loginContainer {
    text-align: center;
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* #endregion */

.container {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #938a8a;
    padding: 10px;
    background-color: #ffffff;
}

/* #region button */
.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    min-width: 100px;
    font-weight: bold;
    height: 36px;
}

.button:hover {
    filter: brightness(90%);
}

.warningButton {
    background-color: #dc3545;
    color: white;
}

.normalButton {
    background-color: #938a8a;
    color: white;
}

.extendButton {
    background-color: #938a8a;
    color: white;
}

.sideBarButton {
    background: #938a8a;
    color: black;
}

.doubleButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.longButton {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* #endregion */

.blockContainer {
    margin: 25px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.1);
    /* 灰色，10%透明度 */
    border-radius: 10px;
    /* 圆角 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
    overflow-x: hidden;
    position: relative;
}

/* 覆盖 Spinner 的文本样式 */
.vue-simple-spinner-text {
    font-size: clamp(1rem, 2vw, 5rem) !important;
    font-weight: bold !important;
    color: #938A8A; /* 可选：统一文本颜色 */
}

.nothing-notice {
    font-size: clamp(1rem, 2vw, 5rem);
    font-weight: bold;
}

/* #region input form */
.allInputFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.formWithLabelAndInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.formWithLabelAndInput input,
.formWithLabelAndInput textarea,
.formWithLabelAndInput select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* #endregion*/

/* #region user and friend */
.friendsList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friendItem {
    list-style: none;
    display: flex;
    align-items: center;
    /* 使头像和昵称垂直居中 */
}

.avatar {
    width: clamp(3rem, 4vw, 5rem);
    height: clamp(3rem, 4vw, 5rem);
    border-radius: 50%;
    margin-right: 1.25%;
    /* 头像和昵称之间的间距 */
}

.nickname {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    /* 确保昵称居中对齐 */
    flex-grow: 1;
    /* 如果有更多的空间，昵称会自动占用 */
}

/* #endregion */